/* si solo copiamos el import, podemos importar la fuente en el css */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

h1, p {
    color: peru;
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1 {
    font-weight: 100;
    font-size: 2em;
}

p {
    color: plum;
    font-weight: 900;
    font-size: 3em;
}

.pixel {
    font-size: 48px;
}